@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}
header {
	position: absolute;
}
ul.menu {
	
	margin: 15px 25px;
	padding: 0;

	li {
		position: fixed;
		list-style: none;
		z-index: 4;
		a {
			font-family: 'Pinyon Script', cursive;
			@include fontSize(28);
			color: white;
			text-shadow: 1px 1px 1px black;
		}
	}
	li:nth-child(2) {
		right: 25px;
	}
	li:nth-child(3) {
		bottom: 15px;
		left: 25px;
	}
	li:nth-child(4) {
		bottom: 15px;
		right: 25px;
	}
}